<!DOCTYPE html>
<html lang="en">

   <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Resume - Start Bootstrap Theme</title>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   </head>
   
   <body>
      <ul>
         <a id="tv_on" href="#">On</a>
         <a id="tv_off" href="#">Off</a>
         <a class="tv_set_source" name="HDMI 1" href="#">HDMI 1</a>
         <a class="tv_set_source" name="HDMI 2" href="#">HDMI 2</a>
         <a class="tv_set_source" name="HDMI 3" href="#">HDMI 3</a>
         <a class="tv_set_source" name="HDMI 4" href="#">HDMI 4</a>
      </ul>
      
      <p id="television">
      </p>
      
      <script type="text/javascript">
         $("#tv_on").click(function(){
            post_tv_function("turn_display_on");               
            return null;            
         });
         
         $("#tv_off").click(function(){
            post_tv_function("turn_display_off");               
            return null;
         });
         
         $(".tv_set_source").click(function(){            
            post_tv_function("set_source", $(this).attr('name'));      
            return null;
         });
         
         function post_tv_function(_action = '', _source = '') {
            $.post( "/tv", { action: _action, source: _source }, function (data) {
               $("#television").html("<p id=\"television\">" + JSON.stringify(data) + "</p>");
            });
         }
      </script>
      
   </body>
   
</html>