<!DOCTYPE html>
<html lang="en">

   <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Aupair API</title>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   </head>
   
   <body style="margin-left:2em; margin-top:2em">
      <ul style="margin-left:0em; padding-left:0em">
         <a id="tv_on" href="#">On</a>
         <a id="tv_off" href="#">Off</a>
         <a class="tv_set_source" name="HDMI 1" href="#">HDMI 1</a>
         <a class="tv_set_source" name="HDMI 2" href="#">HDMI 2</a>
         <a class="tv_set_source" name="HDMI 3" href="#">HDMI 3</a>
         <a class="tv_set_source" name="HDMI 4" href="#">HDMI 4</a>
      </ul>
      
      <p id="television">
      </p>
      
      <p>
         <a id="lights_off"            name="off"              href="#">Turn lights off</a>
         <a id="lights_on"             name="on"               href="#">Bright</a>
         <a id="lights_on_read"        name="read"             href="#">Read</a>         
         <a id="lights_on_dim"         name="dim"              href="#">Dim</a>                  
         <a id="lights_on_concentrate" name="concentrate"      href="#">Concentrate</a>                  
         <a id="lights_on_gaming"      name="gaming"           href="#">Gaming</a>                  
         <a id="lights_on_tv"          name="tv"               href="#">TV</a>                  
      </p>
      
      <p id="bridge">
      </p>
      
      <div id="thermostat">               
         Indoor <p id="thermostat-status"></p>
         Outdoor <p id="weather-status"></p>
      </div>
      
      <div id="aupair">
         <a id="goodmorning"   name="goodmorning"              href="#">Good Morning</a>
         <a id="goodnight"     name="goodnight"               href="#">Good Night</a>
         <a id="im_leaving"     name="im_leaving"             href="#">I'm leaving</a>         
         <a id="im_home"        name="im_home"              href="#">I'm home</a>
         <a id="im_traveling"   name="im_traveling"              href="#">I'm traveling</a>
      </div>
      
      <script type="text/javascript">
         $("#tv_on").click(function(){
            post_tv_function("turn_display_on");               
            return null;            
         });
         
         $("#tv_off").click(function(){
            post_tv_function("turn_display_off");               
            return null;
         });
         
         $(".tv_set_source").click(function(){            
            post_tv_function("set_source", $(this).attr('name'));      
            return null;
         });
         
         // function post_tv_function(_action = '', _source = '') {
         //    $.post( "/tv", { action: _action, source: _source }, function (data) {
         //       $("#television").html("<p id=\"television\">" + JSON.stringify(data) + "</p>");
         //    });
         // };
         //
         // function post_house_function(_action = '') {
         //    $.post( "/house", { action: _action}, function (data) {
         //       $("#house").html("<p id=\"house\">" + JSON.stringify(data) + "</p>");
         //    });
         // }            
         
         function loadThermostatStatus() {
            $.getJSON( "/thermostat", function (data){
               var items = [];
                $.each( data, function( key, val ) {
                  items.push( "<li id='" + key + "'>" + val + "</li>" );
                });
                
               $("#thermostat-status").html("<p id=\"thermostat-status\">" + 
                   JSON.stringify(data["current_temperature"]) + "</p>");
            });                     
         }     
         
         // function loadWeatherStatus() {
         //    $.getJSON( "/weather", function (data){
         //       $("#weather-status").html("<p id=\"weather-status\">" +
         //          JSON.stringify(data["current_conditions"]["temperature"]) + "</p>");
         //    });
         // }
         
         //
         // $( document ).ready(function(){
         //    loadThermostatStatus();
         //    loadWeatherStatus();
         //
         //    $("#lights_on").click(function(){
         //       post_house_function("bright");
         //       return null;
         //    });
         //
         //    $("#lights_off").click(function(){
         //       post_house_function("off");
         //       return null;
         //    });
         //
         //    $("#lights_on_read").click(function(){
         //       post_house_function("read");
         //       return null;
         //    });
         //
         //    $("#lights_on_dim").click(function(){
         //       post_house_function("dim");
         //       return null;
         //    });
         //
         //    $("#lights_on_gaming").click(function(){
         //       post_house_function("gaming");
         //       return null;
         //    });
         //
         //    $("#lights_on_tv").click(function(){
         //       post_house_function("tv");
         //       return null;
         //    });
         //
         //    $("#lights_on_concentrate").click(function(){
         //       post_house_function("concentrate");
         //       return null;
         //    });
         //
         //    $("#goodmorning").click(function(){post_house_function("goodmorning"); return null;});
         //    $("#goodnight").click(function(){  post_house_function("goodnight"); return null;});
         //    $("#im_leaving").click(function(){  post_house_function("im_leaving"); return null;});
         //    $("#im_home").click(function(){     post_house_function("im_home"); return null;});
         //    $("#im_traveling").click(function(){post_house_function("im_traveling"); return null;});
         //
         // });
      </script>
      

      
   </body>
   
</html>