<!DOCTYPE html>
<html lang="en">

   <head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Resume - Start Bootstrap Theme</title>
    
   </head>
   
   <body>
      <ul>
         <a href="/tv/on">On</a>
         <a href="/tv/off">Off</a>
         <a href="/tv/hdmi1">HDMI 1</a>
         <a href="/tv/hdmi2">HDMI 2</a>
         <a href="/tv/hdmi3">HDMI 3</a>
         <a href="/tv/hdmi4">HDMI 4</a>
      </ul>
      
   </body>
   
</html>